
<div class="background">
    <div class="overlay">
            <div class="container-fluid contenido">
                <div class="row h-100">
                    <div class="col-12 d-flex justify-content-center titulo">
                        <h1 class="">ChatBot-Prototype-doug-engels</h1>
                    </div>
                    <div class="col-12 d-flex justify-content-center nombre">
                        <form  class="flex-form" [formGroup] = "registrarNombre">
                            <input type="search" placeholder="Write Your Name" formControlName = "nombre" name = "nombre">
                            <input type="submit" value="Login" (click) = submit()>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>